header a{
  color: green;
}

a:link {
  text-decoration: none;
}

article a{
margin img:20px
}
#img {
margin: 20px;
}

# navigation
{
  color: orange;
}

a:link{
  color: red;
}

.paragraph {
  color: blue;
}

#footer
{
 font-size: 12px;
}
