/*
fichier css de base
par Olivier Chambon
dernière mise à jour 16/11/2021
*/

/* généraux */
html {
  margin:0px;
  padding:0px;
}

a {
  text-decoration: none;
}

header, footer {
  background-color: black;
  padding:20px;
}

nav {
  background-color: gray;
  width:500px;
  position:fixed; 
  right: 0px;
}

header a, footer a, footer p {
  color: white !important;
}

section {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

article h2 {
@font-face {
  font-family: written;
  src: url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
} 
  font-style: italic;
  font-size: 100px;
  color: blue;
}

/* mutualisation */
.vert {
  color: green;
}

/* spécifiques */
nav a {
  color: red;
}

section article p {
 border-top-style: 2px dotted black;  
}

section article img {
  position: relative;
  top: 0px; right: 0px;
  margin:20px;
  width: 30%;
}


footer p {
  font-size:12px;
}
